<tr>
  <% if defined? show_entry_name %>
  <td>
    <%= link_to entry.item.name, user_item_path(@user, entry.item) %>
    <% entry.item.categories.each do |category| %>
      <span class='label'>
        <%= link_to category.name, user_category_path(@user, category)%>
      </span>
    <% end %>
    <%= link_to new_user_category_path(@user) do %>
        <i class="icon-plus"></i>
    <% end %>
    
  </td>
  <% end %>
  <td><%= entry.quantity %></td>
	<% format_string = get_format_string(true, true) %>
  <td><%= entry.datetime.strftime(format_string) %></td>
  <% if current_user and current_user.id == @user.id %>
  <td><%= link_to 'Remove', user_entry_path(@user, entry), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <% end %>
</tr>
