<p id="notice"><%= notice %></p>

<% @pages = @user.pages %>
<div class="user_page_nav navbar navbar-default">
	<%= render template: "pages/index" %>
</div>

<div class="displays">
<% row_num = 0 %>
<% @page.displays.each do |display| %>
    <% if display.should_show_for? current_user %>
        <% if row_num % 2 == 0 %>
            <div class="row">
        <% end %>
        <%= content_tag :div,  class: "col-sm-6", id: "display_#{display.id}" do -%>
            <% unless display.title.nil? %>
            <%= content_tag :h3,  display.title %>
            <% end %>
            <%= render display%>
        <% end -%>
        <% row_num = row_num + 1 %>
        <% if row_num % 2 == 0 %>
            </div>
        <% end %>
    <% end %>
<% end %>
</ul>
