<p id="notice"><%= notice %></p>

<%= link_to 'All Items', user_items_path %>

<h1>
  <%= @item.name %>
</h1>

<% if !@item.categories.empty? %>
  <% @item.categories.each do |category| %>
    <span class='label label-default'><%= link_to category.name, user_category_path(@user, category) %></span>
  <% end %>
<% end %>

<p><b>Total:</b>
  <%= @item.total %>
</p>

<% if current_user and current_user.id == @user.id %>
<%= link_to 'Edit', edit_user_item_path(@user, @item) %> |
<%= link_to 'Delete', user_item_path(@user, @item), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<% if !@item.entries.to_a.empty? %>

<table class="table table-striped">
    <%= render @item_entries %>
</table>

<%= will_paginate @item_entries %>

<% end %>
