<!DOCTYPE html>
<html>
<head>
  <title>DataTracker</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <a class="brand" href="#">Data Tracker</a>
      <% if user_signed_in? %>
      <p>Welcome, <%= current_user.username %></p>
        <%= link_to 'sign out', destroy_user_session_path, method: :delete %>
      <% end %>
      <% if @user %>
        <p class="navbar-text pull-right">
          <%= @user.username %>
          <%= link_to pluralize(@user.entries.count, 'entry'), user_entries_path(@user) %>
          <%= link_to pluralize(@user.items.count, 'item'), user_items_path(@user) %>
          <%= link_to pluralize(@user.categories.count, 'category'), user_categories_path(@user) %>
        </p>
      <% end %>
    </div>
    
  </div>

<div class="container">
    <%= yield %>
</div>

</body>
</html>
