<!DOCTYPE html>
<html>
<head>
  <title>Ledgr</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_pack_tag 'application' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>  
</head>
<body>
  
  <div class="navbar navbar-inverse">
    <div class="navbar-inner">
      <a class="navbar-brand" href="#">Ledgr</a>
      <p class='navbar-text pull-left'>
        <% if user_signed_in? %>
          Welcome, <%= link_to current_user.username, user_path(current_user), class: 'navbar-link' %>
          <%= link_to 'sign out', destroy_user_session_path, method: :delete, class: 'navbar-link' %>
        <% else %>
          <%= link_to 'log in', new_user_session_path, class: 'navbar-link' %>
        <% end %>
      </p>
      <% if !@user.nil? and @user.persisted? %>
        <p class="navbar-text pull-right">
          <% if @user.is_private %>
          <span class="glyphicon glyphicon-lock"></span>
          <% end %>
          <%= link_to @user.username, user_path(@user), class: 'navbar-link' %>
          <%= link_to pluralize(@user.entries.size, 'entry'), user_entries_path(@user), class: 'navbar-link'  %>
          <%= link_to pluralize(@user.items.size, 'item'), user_items_path(@user), class: 'navbar-link'  %>
          <%= link_to pluralize(@user.categories.size, 'category'), user_categories_path(@user), class: 'navbar-link'  %>
        </p>
      <% end %>
    </div>
  </div>
  

<div class="container">
    <% if user_signed_in? %>
        <%= render "layouts/quick_add" %>
    <% end %>
    <%= yield %>
</div>

</body>
</html>
